# MSCA 32007 : Exploratory Data Analysis

In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# !pip install sas7bdat

In [3]:
# dataPath = '/Users/paryan414/UofC/MSCA 32007 Data Viz/Assignment_3/unix_hil/psam_h17.sas7bdat'

In [4]:
# from sas7bdat import SAS7BDAT

In [ ]:
# census_df = pd.read_sas(dataPath, format = 'sas7bdat')

In [ ]:
# census_df.head()

In [ ]:
# census_df.info(verbose = True)

In [ ]:
# census_df.isna().sum()

In [5]:
census = pd.read_csv('/Users/paryan414/UofC/MSCA 32007 Data Viz/Assignment_3/csv_hil/ss13hil.csv')

In [6]:
census.head()

,insp,RT,SERIALNO,DIVISION,PUMA00,PUMA10,REGION,ST,ADJHSG,ADJINC,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,NaN,H,2009000000061,3,3515,-9,2,17,1086032,1085467,...,10,10,11,60,33,37,11,63,36,11
1,400.0,H,2009000000075,3,1000,-9,2,17,1086032,1085467,...,2,8,13,11,6,9,5,7,9,14
2,NaN,H,2009000000108,3,3402,-9,2,17,1086032,1085467,...,14,17,4,4,27,30,5,16,23,19
3,NaN,H,2009000000132,3,3510,-9,2,17,1086032,1085467,...,56,104,62,18,60,19,91,61,15,20
4,NaN,H,2009000000150,3,3518,-9,2,17,1086032,1085467,...,60,39,61,70,36,64,11,35,42,37

In [8]:
census.shape

(287799, 205)

In [9]:
census.BDSP

0         2.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
287794    NaN
287795    1.0
287796    3.0
287797    NaN
287798    1.0
Name: BDSP, Length: 287799, dtype: float64

In [ ]:
# census.describe()

In [10]:
census.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287799 entries, 0 to 287798
Data columns (total 205 columns):
 #    Column    Dtype
---   ------    -----
 0    insp      float64
 1    RT        object
 2    SERIALNO  int64
 3    DIVISION  int64
 4    PUMA00    int64
 5    PUMA10    int64
 6    REGION    int64
 7    ST        int64
 8    ADJHSG    int64
 9    ADJINC    int64
 10   WGTP      int64
 11   NP        int64
 12   TYPE      int64
 13   ACR       float64
 14   AGS       float64
 15   BATH      float64
 16   BDSP      float64
 17   BLD       float64
 18   BUS       float64
 19   CONP      float64
 20   ELEP      float64
 21   FS        float64
 22   FULP      float64
 23   GASP      float64
 24   HFL       float64
 25   MHP       float64
 26   MRGI      float64
 27   MRGP      float64
 28   MRGT      float64
 29   MRGX      float64
 30   REFR      float64
 31   RMSP      float64
 32   RNTM      float64
 33   RNTP      float64
 34   RWAT      float64
 35   RWATPR    float64
 36   SINK      float64
 37   SMP       float64
 38   STOV      float64
 39   TEL       float64
 40   TEN       float64
 41   TOIL      float64
 42   VACS      float64
 43   VALP      float64
 44   VEH       float64
 45   WATP      float64
 46   YBL       float64
 47   FES       float64
 48   FINCP     float64
 49   FPARC     float64
 50   GRNTP     float64
 51   GRPIP     float64
 52   HHL       float64
 53   HHT       float64
 54   HINCP     float64
 55   HUGCL     float64
 56   HUPAC     float64
 57   HUPAOC    float64
 58   HUPARC    float64
 59   KIT       float64
 60   LNGI      float64
 61   MULTG     float64
 62   MV        float64
 63   NOC       float64
 64   NPF       float64
 65   NPP       float64
 66   NR        float64
 67   NRC       float64
 68   OCPIP     float64
 69   PARTNER   float64
 70   PLM       float64
 71   PSF       float64
 72   R18       float64
 73   R60       float64
 74   R65       float64
 75   RESMODE   float64
 76   SMOCP     float64
 77   SMX       float64
 78   SRNT      float64
 79   SVAL      float64
 80   TAXP      float64
 81   WIF       float64
 82   WKEXREL   float64
 83   WORKSTAT  float64
 84   FACRP     float64
 85   FAGSP     float64
 86   FBATHP    float64
 87   FBDSP     float64
 88   FBLDP     float64
 89   FBUSP     float64
 90   FCONP     float64
 91   FELEP     float64
 92   FFSP      int64
 93   FFULP     float64
 94   FGASP     float64
 95   FHFLP     float64
 96   FINSP     float64
 97   FKITP     float64
 98   FMHP      float64
 99   FMRGIP    float64
 100  FMRGP     float64
 101  FMRGTP    float64
 102  FMRGXP    float64
 103  FMVP      int64
 104  FPLMP     float64
 105  FREFRP    float64
 106  FRMSP     float64
 107  FRNTMP    float64
 108  FRNTP     float64
 109  FRWATP    float64
 110  FRWATPRP  float64
 111  FSINKP    float64
 112  FSMP      float64
 113  FSMXHP    float64
 114  FSMXSP    float64
 115  FSTOVP    float64
 116  FTAXP     float64
 117  FTELP     float64
 118  FTENP     float64
 119  FTOILP    float64
 120  FVACSP    float64
 121  FVALP     float64
 122  FVEHP     float64
 123  FWATP     float64
 124  FYBLP     float64
 125  WGTP1     int64
 126  WGTP2     int64
 127  WGTP3     int64
 128  WGTP4     int64
 129  WGTP5     int64
 130  WGTP6     int64
 131  WGTP7     int64
 132  WGTP8     int64
 133  WGTP9     int64
 134  WGTP10    int64
 135  WGTP11    int64
 136  WGTP12    int64
 137  WGTP13    int64
 138  WGTP14    int64
 139  WGTP15    int64
 140  WGTP16    int64
 141  WGTP17    int64
 142  WGTP18    int64
 143  WGTP19    int64
 144  WGTP20    int64
 145  WGTP21    int64
 146  WGTP22    int64
 147  WGTP23    int64
 148  WGTP24    int64
 149  WGTP25    int64
 150  WGTP26    int64
 151  WGTP27    int64
 152  WGTP28    int64
 153  WGTP29    int64
 154  WGTP30    int64
 155  WGTP31    int64
 156  WGTP32    int64
 157  WGTP33    int64
 158  WGTP34    int64
 159  WGTP35    int64
 160  WGTP36    int64
 161  WGTP37    int64
 162  WGTP38    int64
 163  WGTP39    int64
 164  WGTP40    int64
 165  WGTP41    int64
 166  WGTP42    int64
 167  WGTP43    int64
 168  WGTP44    int64
 169  WGTP45    int64
 170  WGTP46    int64
 171  WGTP47    int64
 172  WGTP48    int64
 173  WGTP49    int64
 174  WGTP50    int64
 175  WGTP51    int64
 176  WGTP52    int64
 177  WGTP53    int64
 178  WGTP54    int64
 179  WGTP55    int64
 180  WGTP56    int64
 181  WGTP57    int64
 182  WGTP58    int64
 183  WGTP59    int64
 184  WGTP60    int64
 185  WGTP61    int64
 186  WGTP62    int64
 187  WGTP63    int64
 188  WGTP64    int64
 189  WGTP65    int64
 190  WGTP66    int64
 191  WGTP67    int64
 192  WGTP68    int64
 193  WGTP69    int64
 194  WGTP70    int64
 195  WGTP71    int64
 196  WGTP72    int64
 197  WGTP73    int64
 198  WGTP74    int64
 199  WGTP75    int64
 200  WGTP76    int64
 201  WGTP77    int64
 202  WGTP78    int64
 203  WGTP79    int64
 204  WGTP80    int64
dtypes: float64(111), int64(93), object(1)
memory usage: 450.1+ MB

In [ ]:
# census['WKHP']

In [11]:
census.dtypes

insp        float64
RT           object
SERIALNO      int64
DIVISION      int64
PUMA00        int64
             ...
WGTP76        int64
WGTP77        int64
WGTP78        int64
WGTP79        int64
WGTP80        int64
Length: 205, dtype: object

In [12]:
# select only columns of interest
df = census[['BDSP','ELEP','FULP','GASP','MRGP','RMSP','RNTP','SMP','VALP','VEH','FINCP','HINCP','TAXP',
                  'ST']].copy()

## Column Descriptions
**BDSP**  = Number of bedrooms
**ELEP**  = Electricity monthly cost
**FULP**  = Fuel cost (yearly cost for fuels other than gas and electricity)
**GASP**  = Gas (monthly fuel cost)
**MRGP**  = First mortgage payment (monthly amount)
**RMSP**  = Number of Rooms
**RNTP**  = Monthly rent
**SMP**   = Total payment on all second and junior mortgages and home equity loans (monthly amount)
**VALP**  = Property value
**VEH**   = Vehicles (1 ton or less) available
**FINCP** = Family income (past 12 months)
**HINCP** = Household income (past 12 months)
**TAXP**  = Property taxes (yearly amount)
**ST**    = State Code

In [13]:
df.head()

,BDSP,ELEP,FULP,GASP,MRGP,RMSP,RNTP,SMP,VALP,VEH,FINCP,HINCP,TAXP,ST
0,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,3.0,200.0,2.0,3.0,300.0,5.0,NaN,NaN,65000.0,1.0,NaN,13000.0,11.0,17
2,3.0,80.0,2.0,120.0,NaN,6.0,1800.0,NaN,NaN,1.0,80000.0,80000.0,NaN,17
3,3.0,1.0,2.0,20.0,NaN,7.0,500.0,NaN,NaN,2.0,72700.0,72700.0,NaN,17
4,3.0,200.0,2.0,200.0,NaN,5.0,380.0,NaN,NaN,1.0,4400.0,4400.0,NaN,17

In [19]:
df.ELEP.isna().sum()

39184

In [20]:
df.ST.value_counts() # all from Illinois

17    287799
Name: ST, dtype: int64

In [21]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287799 entries, 0 to 287798
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   BDSP    264712 non-null  float64
 1   ELEP    248615 non-null  float64
 2   FULP    248615 non-null  float64
 3   GASP    248615 non-null  float64
 4   MRGP    116825 non-null  float64
 5   RMSP    264712 non-null  float64
 6   RNTP    65341 non-null   float64
 7   SMP     25316 non-null   float64
 8   VALP    185881 non-null  float64
 9   VEH     248615 non-null  float64
 10  FINCP   165452 non-null  float64
 11  HINCP   248615 non-null  float64
 12  TAXP    182920 non-null  float64
 13  ST      287799 non-null  int64
dtypes: float64(13), int64(1)
memory usage: 30.7 MB

In [22]:
df.BDSP.value_counts(normalize = True)

3.0    0.397983
2.0    0.278586
4.0    0.166052
1.0    0.097223
5.0    0.034543
0.0    0.016867
9.0    0.007049
8.0    0.001696
Name: BDSP, dtype: float64

In [18]:
df.ELEP.value_counts(normalize = True)

100.0    0.086781
80.0     0.076858
50.0     0.073680
60.0     0.068910
70.0     0.065213
90.0     0.058572
40.0     0.058319
150.0    0.049748
120.0    0.047716
130.0    0.043368
200.0    0.039241
30.0     0.038956
110.0    0.035911
140.0    0.029926
1.0      0.024174
180.0    0.023703
160.0    0.021559
170.0    0.018458
250.0    0.015643
190.0    0.014054
20.0     0.013571
300.0    0.012714
230.0    0.009102
220.0    0.008966
2.0      0.008161
210.0    0.007638
240.0    0.007164
280.0    0.004770
260.0    0.004517
270.0    0.003906
350.0    0.003709
460.0    0.003343
510.0    0.003113
290.0    0.002944
400.0    0.002643
330.0    0.001967
320.0    0.001770
10.0     0.001766
310.0    0.001436
340.0    0.001142
380.0    0.001094
360.0    0.001022
370.0    0.000768
390.0    0.000583
4.0      0.000479
440.0    0.000265
430.0    0.000265
420.0    0.000193
410.0    0.000153
450.0    0.000044
Name: ELEP, dtype: float64